<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.proseCommunity.www.mapper.ArticleMapper">

    <select id="findByAll" resultType="com.proseCommunity.www.domain.vo.ArticleVo">

    </select>
</mapper>
